.navbar-brand{
    font-weight: 900;
    font-family: 'Noto Sans KR', sans-serif;
}
.form-control:focus{
    z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}