<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <div th:fragment="sidebar" class="bg-light border-right" id="sidebar-wrapper">
        <div class="sidebar-heading">Handok IT</div>
        <div class="list-group list-group-flush">
            <a class="list-group-item list-group-item-action bg-light" href="#">일정</a>
            <a class="list-group-item list-group-item-action bg-light" href="#">item</a>
            <a class="list-group-item list-group-item-action bg-light" href="#">item</a>
            <a class="list-group-item list-group-item-action bg-light" href="#">item</a>
            <a class="list-group-item list-group-item-action bg-light" href="#">item</a>
            <a class="list-group-item list-group-item-action bg-light" href="#">item</a>
        </div>
    </div>
</html>